@model PredictorBusesArrival.Models.ShowPredictBusStopViewModel
@using ConfiguratorASUTP.Models
@{
    ViewBag.Title = @"Прогноз прибытия автотранспорта";
}

<div class=" row">
    <div class="col-md-12">

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @BootstrapHtml.Dropdown("PredictBusArrivalDropdownListId","InformationBlockId",(List<SelectListItem>)Model.BusStops.Items,"",
                                Url.Action("SelectBusArrival","Home"),null,"dropDownCssClass",ViewContext,ViewData);
    </div>
    
    <div class="col-md-4">

    </div>
</div>