@model PredictorBusesArrival.Models.ShowPredictBusStopViewModel
@{
    ViewBag.Title = @"Прогноз прибытия автотранспорта";
}
<div class="row">
    <div class="col-md-3 information-table">
        <div class="tiket-table">
            @Html.Partial("SelectBusArrival", Model.StationForecasts)
        </div>
    </div>
    <div class="col-md-9">
    </div>
</div>